[submodule "t2301e-spring-example"]
	path = t2301e-spring-example
	url = https://github.com/vuhoangnam30699/T2301E_NAM.git
[submodule "t2301e-spring"]
	path = t2301e-spring
	url = https://github.com/vuhoangnam30699/T2301E_NAM.git
